body{
	background-color: cornsilk;
}
h1{
	font-size: 30px;
	color: lightpink;
}

h2{
	font-size: 20px;
	color: darkseagreen;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: violet;
}